* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;

  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;

  --color-secondary-light: #cfcfbc;
  --color-secondary-dark: #a18268;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  color: var(--color-primary-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  background-color: var(--color-primary-light);
}

main {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

ul {
  list-style-type: none;
}

span {
  color: var(--color-brand-light);
}

address {
  font-style: normal;
}

/* another */
.section-title {
  color: var(--color-primary-dark);
}

.link {
  text-decoration: none;
  font-weight: 400;
  color: var(--color-primary-light);
}
.text-brand {
  color: var(--color-brand-light);
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: 600;
}

/* Header */
.header {
  position: absolute;
  width: 100%;
  padding-top: 2rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 12rem;
  align-items: center;
}

.header-container nav {
  flex: 1;
}

.header-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0 9.5rem;
}

.button {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.875rem;
  cursor: pointer;
  padding: 1rem 2rem;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: var(--color-primary-light);
}

header .link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-weight: 400;
}

header .link:hover {
  color: var(--color-brand-light);
  transition: 0.3s;
}

/* Section 1 Modern Bakery */
.section-1 {
  background-image: url(img/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--color-primary-light);
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 8rem;
}

.advantages-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  display: flex;
  justify-content: space-between;
  padding: 0 20.75rem;
  height: 4rem;
  align-items: center;
}

/* Section 2 New Formats Traditions */
.section-2 {
  margin: 0 20.75rem;
}

.traditions-section-title {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 0%;
  line-height: 1;
}

.traditions-section-container {
  display: flex;
  justify-content: space-between;
}

.traditions-section-content {
  max-width: 44.25rem;
  display: flex;
  flex-direction: column;
  gap: 2.625rem;
}

.traditions-section-img {
  border-radius: 400px 400px 0 0;
}

/* Section 3 Our chefs */
.section-3 {
  margin: 0 20.75rem;
}

.chefs-section-title-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.chefs-section-title {
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.3;
  position: relative;
}

.chefs-section-title-container::before,
.chefs-section-title-container::after {
  content: '';
  position: absolute;
  width: 22rem;
  border: 2px solid var(--color-secondary-light);
  bottom: 1.5rem;
  transform: translateY(50%);
}

.chefs-section-title-container::before {
  left: 0;
}

.chefs-section-title-container::after {
  right: 0;
}

.chefs-section-title span {
  color: var(--color-brand-dark);
}

.chefs-section-content {
  display: flex;
  justify-content: space-between;
}

.chefs-card {
  display: flex;
  gap: 2rem;
}

.chefs-card-text {
  color: var(--color-primary-dark);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.chefs-card-text-title {
  font-weight: 600;
  font-size: 2.5rem;
}

.chefs-section-content-img {
  border-radius: 8px 8px 8px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 1.5px var(--color-secondary-dark);
}

/* Section 4 Formats */
.section-4 {
  margin: 0 20.75rem;
}

.formats-section-title {
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 5rem;
}

.formats-section-list {
  display: flex;
}

.formats-section-article {
  position: relative;
  display: inline-block;
  width: 100%;
  border-radius: 16px;
}

.formats-section-article img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
}

.formats-section-article-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  border-radius: 16px;
  background-size: cover;
  padding: 15.5rem 2.5rem 1.5rem 1.5rem;
  color: var(--color-primary-light);
}

.formats-section-article-content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.format-text p {
  font-size: 0.875rem;
  font-weight: 300;
}

/* Slider */
.formats-section-slider {
  position: relative;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 3.75rem;
}

.formats-section-wrapper {
  overflow: hidden;
  width: 100%;
}

.formats-section-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1.25rem;
  transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.formats-section-list li {
  flex: 0 0 calc(33.333% - 0.875rem);
  max-width: calc(33.333% - 0.875rem);
}

.formats-section-list article {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Buttons */
.formats-section-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 10;
}

.prev {
  left: -1.375rem;
}

.next {
  right: -1.375rem;
}

.btn-left-normal,
.btn-right-normal {
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-left-active,
.btn-right-active {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.formats-section-btn:hover .btn-left-normal,
.formats-section-btn:hover .btn-right-normal {
  opacity: 0;
}

.formats-section-btn:hover .btn-left-active,
.formats-section-btn:hover .btn-right-active {
  opacity: 1;
}

/* Pagination */
.formats-section-pagination {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.dot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--color-secondary-dark);
  cursor: pointer;
  transition: all 0.3s ease;
}

.dot.active,
.dot:hover {
  background: var(--color-brand-light);
}

/* Slider position */
.slide-0 {
  transform: translateX(0%);
}
.slide-1 {
  transform: translateX(-33.333%);
}
.slide-2 {
  transform: translateX(-66.666%);
}

/* Section 5 Join the bakery (Forms) */
.section-5 {
  margin: 0 20.75rem;
  margin-bottom: 6rem;
}

.contact-section-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.contact-section-content-container {
  max-width: 38rem;
}

.contact-section-title {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.contact-section-title-content {
  margin-bottom: 2.625rem;
}

.contact-section-title-content p {
  color: var(--color-brand-dark);
}

.contact-form-and-button {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-form {
  font-size: 1rem;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--color-secondary-dark);
  padding: 1rem 2.625rem;
  background-color: rgba(0, 0, 0, 0);
}

.input-form::placeholder {
  color: var(--color-secondary-dark);
  opacity: 1;
}

.input-form:focus {
  outline: none;
  border: 1px solid var(--color-brand-light);
  transition: 0.3s ease;
}

.input-form:focus::placeholder {
  color: var(--color-primary-dark);
  transition: 0.3s ease;
}

.contact-section-button {
  display: block;
  margin: 0 auto 1rem;
}

.contact-section-link-text {
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
  max-width: 15rem;
  margin: 0 auto;
}

.contact-section-link {
  color: black;
  text-decoration: underline;
}

.contact-section-map {
  border-radius: 16px;
  width: 37.75rem;
  height: 37.25rem;
  border: 0;
}

/* Footer */
footer {
  height: 14rem;
  background-color: var(--color-primary-dark);
  background-image: url(img/footer-background.svg);
  color: var(--color-primary-light);
  font-weight: 400;
  padding: 2rem 12rem;
  position: relative;
  overflow: hidden;
}

footer::before {
  content: '';
  position: absolute;
  left: -2.375rem;
  width: 14rem;
  height: 25.625rem;
  background-image: url(img/footer_bread_1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
  z-index: 1;
}

footer::after {
  content: '';
  position: absolute;
  right: 6rem;
  top: 8rem;
  width: 25.5rem;
  height: 17.625rem;
  background-image: url(img/footer_bread_2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-nav {
  display: flex;
}

.footer-nav-list,
.footer-address-list,
.footer-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer .link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-weight: 400;
}

footer .link:hover {
  color: var(--color-brand-light);
  transition: 0.3s;
}

footer .address-link {
  font-size: 1rem;
  color: var(--color-primary-light);
  text-decoration: none;
  font-weight: 300;
}

footer .address-link:hover {
  font-size: 1rem;
  color: var(--color-brand-light);
  transition: 0.3s;
}

.footer-address {
  display: flex;
}

.social-network {
  display: flex;
  flex-direction: row;
  gap: 1.375rem;
}

.footer-info {
  display: flex;
  flex-direction: column;
}

.footer-copyright-text {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--color-secondary-dark);
}
