* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;

  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;

  --color-secondary-light: #cfcfbc;
  --color-secondary-dark: #a18268;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  color: var(--color-primary-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  background-color: var(--color-primary-light);
}

main {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

ul {
  list-style-type: none;
}

span {
  color: var(--color-brand-light);
}

address {
  font-style: normal;
}

/* інше */
.section-title {
  color: var(--color-primary-dark);
}

.link {
  text-decoration: none;
  font-weight: 400;
  color: var(--color-primary-light);
}
.text-brand {
  color: var(--color-brand-light);
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: 600;
}

/* Header */
.header {
  position: absolute;
  width: 100%;
  padding-top: 2rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 12rem;
  align-items: center;
}

.header-container nav {
  flex: 1;
}

.header-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0 9.5rem;
}

.button {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.875rem;
  cursor: pointer;
  padding: 1rem 2rem;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: var(--color-primary-light);
}

header .link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-weight: 400;
}

header .link:hover {
  color: var(--color-brand-light);
  transition: 0.3s;
}

/* Section 1 Modern Bakery */
.section-1 {
  background-image: url(img/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--color-primary-light);
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 8rem;
}

.advantages-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  display: flex;
  justify-content: space-between;
  padding: 0 20.75rem;
  height: 4rem;
  align-items: center;
}

/* Section 2 New Formats Traditions */
.section-2 {
  margin: 0 20.75rem;
}

.traditions-section-title {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 0%;
  line-height: 1;
}

.traditions-section-container {
  display: flex;
  justify-content: space-between;
}

.traditions-section-content {
  max-width: 44.25rem;
  display: flex;
  flex-direction: column;
  gap: 2.625rem;
}

.traditions-section-img {
  border-radius: 400px 400px 0 0;
}

/* Section 3 Our chefs */
.section-3 {
  margin: 0 20.75rem;
}

.chefs-section-title-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.chefs-section-title {
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.3;
  position: relative;
}

.chefs-section-title-container::before,
.chefs-section-title-container::after {
  content: '';
  position: absolute;
  width: 22rem;
  border: 2px solid var(--color-secondary-light);
  bottom: 1.5rem;
  transform: translateY(50%);
}

.chefs-section-title-container::before {
  left: 0;
}

.chefs-section-title-container::after {
  right: 0;
}

.chefs-section-title span {
  color: var(--color-brand-dark);
}

.chefs-section-content {
  display: flex;
  justify-content: space-between;
}

.chefs-card {
  display: flex;
  gap: 2rem;
}

.chefs-card-text {
  color: var(--color-primary-dark);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.chefs-card-text-title {
  font-weight: 600;
  font-size: 2.5rem;
}

.chefs-section-content-img {
  border-radius: 8px 8px 8px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 1.5px var(--color-secondary-dark);
}

/* Section 4 Formats */
.section-4 {
  margin: 0 20.75rem;
  background-color: aqua;
}

.formats-section-title {
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 5rem;
}

.formats-section-list {
  display: flex;
}

/* Section 5 Met to bakers (Forms) */
.section-5 {
  margin: 0 20.75rem;
  margin-bottom: 6rem;
}

.contact-section-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.contact-section-title {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.3;
}

/* .contact-section-title-content {
  margin-bottom: 2.625rem;
} */

.contact-section-content-container {
  max-width: 38rem;
}

.contact-section-link {
  color: black;
  text-decoration: underline;
}

.contact-section-map {
  border-radius: 16px;
  width: 37.75rem;
  height: 37.25rem;
}

/* Footer */
footer {
  background-color: #31261a;
  color: var(--color-primary-light);
  font-weight: 400;
  padding: 0 12rem;
}

.footer-container {
  display: flex;
}

.footer-nav {
  display: flex;
}

.footer-address {
  display: flex;
}

.footer-info {
  display: flex;
  flex-direction: column;
}
